{{ define "content"}}
    <section class="iflx frw fwr fii">
    
    {{template "infotitle" .}}
    {{template "specs" .}}
    {{template "trends" .}}
    {{template "infoprice" .}}

    
    </section>
{{end}}