{{ define "header"}}
   <header class="scr hds flx frw fsp  ">
    <div class="flx fcl fii"><div class="flx fcl fii fjcc"><a href="//com-http.us/">{{template "logo"}}</a></div></div>
    <div class="flx fcl fii tps">
    <form method="GET" action="/explorer/search" target="_top" class="flx frw fii ">
    <input type="text" placeholder="Search Height, Hash, TxID, Address" name="chsrc" class="flx fcl fte sfi">
    <input type="submit" value="Search" class="flx fcl fii sbt animbg"></form></div></header>
{{end}}